{% doc %}
  PDP cross-sell grid (from section blocks).

  @param {section} section
{% enddoc %}

{%- if section.blocks.size > 0 -%}
  {%- assign has_cross_sell = false -%}
  {%- for block in section.blocks -%}
    {%- if block.type == 'cross_sell' and block.settings.product != blank -%}
      {%- assign has_cross_sell = true -%}
    {%- endif -%}
  {%- endfor -%}

  {%- if has_cross_sell -%}
    <div class="lusena-container">
      <div class="lusena-pdp-cross-sell__border lusena-gap-subsection">
        <div class="lusena-text-center lusena-gap-section-intro{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          <h2 class="lusena-type-h1">
            {{ section.settings.cross_sell_heading | escape }}
          </h2>
        </div>
        <div class="lusena-pdp-cross-sell__grid">
          {%- for block in section.blocks -%}
            {%- if block.type == 'cross_sell' and block.settings.product != blank -%}
              <div
                {% if settings.animations_reveal_on_scroll %}
                  class="scroll-trigger animate--slide-in" data-cascade
                {% endif %}
              >
                {% render 'lusena-product-card', product: block.settings.product, show_secondary_image: true %}
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  {%- endif -%}
{%- endif -%}
